{% extends "accounts/email/base.html" %}

{% block content %}
    <p>
        Ha solicitado un enlace para restablecer su contraseña. Haga clic en el botón a continuación para cambiarla.
    </p>
    <div style="text-align: center; margin: 45px 0 60px;">
        <a href="{{ password_reset_url }}" class="btn_link" title="Clic para cambiar la contraseña">
            Cambiar contraseña
        </a>
    </div>
    <p>Puede ignorar este correo si no ha solicitado un restablecimiento de la contraseña.</p>
{% endblock %}
